:root {
  --color-border: #20202014;
  --color-primary: #9351ff;
  --color-secondary: #9351ff1a;
  --color-tertiary: #9351ff0d;
  --color-bg-grey: #20202014;
  --color-bg-grey-hover: #20202008;
  --color-text: #202020;
  --color-text-secondary: #20202080;
}
