:root {
  --color-border: #20202014;
  --color-primary: #9351ff;
  --color-secondary: #9351ff1a;
  --color-tertiary: #9351ff0d;
  --color-bg-grey: #20202014;
  --color-bg-grey-hover: #20202008;
  --color-text: #202020;
  --color-text-secondary: #20202080;

  --color-text-hover-grey: #8b8b8b;
  --color-blue: #036ef8;
  --color-light-blue: #71c4ffff;
  --color-violet: #6841ea;
  --color-gradient: linear-gradient(90deg, var(--color-light-blue) 0%, var(--color-violet) 100%);
  --color-gradient45: linear-gradient(45deg, var(--color-light-blue) 0%, var(--color-violet) 100%);
}
