@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:active,
// input:-webkit-autofill:focus {
//   background-color: #ffffff !important;
//   color: #555 !important;
//   -webkit-box-shadow: 0 0 0 1000px white inset !important;
//   -webkit-text-fill-color: #555555 !important;
// }

.iconBtn {
  color: var(--color-text) !important;
  cursor: pointer;

  &:hover {
    color: var(--color-primary) !important;
  }
}

.v-btn {
  letter-spacing: 0 !important;
  text-transform: none !important;

  &.v-btn--size-default {
    border-radius: 8px !important;
  }

  &.primary {
    background-color: #9351ff;
    color: white;

    &:hover {
      background-color: #9351ffd9;
    }
  }

  &.secondary {
    background-color: #9351ff1a;
    color: var(--color-text);

    &:hover {
      background-color: #9351ff26;
    }
  }
}

.v-field {
  box-shadow: none !important;
  border-radius: 28px !important;

  input {
    border-radius: 28px;
  }
}

.v-field--variant-solo-filled .v-field__overlay {
  opacity: 1 !important;
  background: var(--color-bg-grey) !important;
}
