@use 'vuetify/settings' with (
  $button-height: 56px,
  $border-radius-root: 4px,
  $rounded: (
    'lg': 16px,
    'xl': 20px
  ),
  $typography: (
    'h2': (
      'size': 24px,
      'weight': 600,
      'line-height': 1,
      'letter-spacing': 0
    )
  ),
  $shades: (
    'black': #202020
  )
);
